// bower:scss
@import "bower_components/normalize-scss/_normalize.scss";
@import "bower_components/susy/sass/_susy.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import "default/_variables.scss";

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "default/_header.scss";
@import "default/_content.scss";
@import "default/_footer.scss";

@import "default/_home.scss";
@import "default/_gear.scss";
@import "default/_news.scss";
@import "default/_gallery.scss";

body{
	background-image: url("/images/bgarrow.jpg");
	background-attachment: fixed;
	background-size: 27%;
	position:relative;
	font-family: 'Coming Soon', cursive;
	font-size: 150%;
}

.back-to-top{
	position: fixed;
	right:10px;
	bottom:10px;
	background-color: white;
	z-index: 999;
	i{
		padding:20px;
		color:$unguarrow;
		background-color: $kuningarrow;
	}
}

.row{@include span(12 nest);}