.wrapper{
	background-image: url("/images/bgarrow.jpg");
	background-attachment: fixed;
	background-size: 27%;
	.content{
		@include container (960px);
		padding-top: 200px;
		padding-bottom: 200px;
		color: white;
		background-color: rgba(0,0,0,0.7);		
	}
	.contact{
		.map{
			@include span(12);
			// background-color: #EEE;
			height:400px;
			margin-bottom: 60px;
		}
		.contact-desc{
			@include span(8);
			background-color: #AAA;
		}
		.medsos{
			@include span(12);
			background-color: #CCC;
			text-align: center;
			color:$unguarrow;
			float:right;
			.title{
				@include span(12);
				background-color: black;
				color:$kuningarrow;
			}
			a{
				color: black;
				i{
					font-size: 50px;
					padding:10px;
				}	
				&:hover{color:$kuningarrow;}
			}
			h3{
				font-family: sans-serif;
				font-weight: 700;
			}
			@include susy-breakpoint($tablet-size){
				@include span(4);
				float: right;
				margin-right: 10px;
			}
		}
	}
}

#gear,#gallery,#news,#contact{display:none;}
