.footer{
	@include span (12 nest);
	position: absolute;
	bottom:0;
	font-family: 'Arial';
	background-image: url("/images/bgpattren.png");
	background-size: 20px;
	.copyright{
		@include container (960px);
		line-height: 50px;
		text-align: center;
		color: #DDD;
		letter-spacing: -1px;
		background-color: black;
	}
}