.gear{
	@include span(12);
	.studio-section{
		height: 550px;
		h3{
			padding:20px;
			font-weight: 700;
			font-family: 'Barrio',cursive;
			letter-spacing: 2px;
		}
	}
	.recording-section{
		height: 550px;
		margin-top: 300px;
		h3{	
			padding:20px;
			font-weight: 700;
			font-family: 'Barrio',cursive;
			letter-spacing: 2px;
		}
		.photo-container{
			@include span(12 nest);
			background-color: black;
			.photo{
				@include span(4 nest);
				background-color: black;
				img{width: 100%;}
			}
			.row1{
				padding-left:20px;
			}
			.row2{
				margin-top: 10px;
				padding-left:20px;
			}
			.row3{
				margin-top: 10px;
				padding-left:20px;

				.out-wrap{@include span(3 nest);}
				.mid{@include span(6 nest);}
				.wrapper{
					@include span(12 nest);
					.photo{
						@include span(6);
						img{width: 100%;}
					}
				}
			}
			.last-photo{float: right;}	
		}
		.spec-container{
			.rec-price{
				padding:10px;
				position:absolute;
				font-family: 'Barrio',cursive;
				background-color: $kuningarrow;
				color:black;
				right: 130px;
				top:40px;
				h2{padding:0;}
			}
		}
	}
	.photo-container{
		@include span(12);
		.photo{
			@include span(4);
			position:relative;
			img{
				width: 100%;
				filter:grayscale(30%);
				transition:0.5s;
			}
			.spec{
				@include span(12);
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				font-family: 'Barrio',cursive;
				text-align: center;
				background-color: rgba(0,0,0,0.5);
				transition:0.3s;
				.info{
					position:absolute;
					top:50%;
					left:50%;
					transform: translateY(-50%) translateX(-50%);
					h2,h4{font-size: 120%;}
					@include susy-breakpoint($tablet-size){
						h2{font-size: 40px;}
					}
				}
			}
			&:hover{
				.spec{opacity: 1;}
				img{
					filter:grayscale(100%);
					width: 101%;
				}
			}
		}
		.photo-landscape{
			@include span(12);
			margin-top: 15px;
		}
	}
	.spec-container{
		@include span(12);
		position:relative;
		.studio-price{
			padding:10px;
			position:absolute;
			font-family: 'Barrio',cursive;
			background-color: $kuningarrow;
			color:black;
			right: 130px;
			top:40px;
			h2{padding:0;}
		}
	}
}