.container-fluid{
	@include span (12);
	.header{
		@include span(12);
		background-color: black;
		border-bottom: 5px solid #F5F47D;
		.logobrand{
			@include span (12);
			.icon img{width:100%;}
			@include susy-breakpoint($tablet-size){@include span(6 nest);}
		}
		.navbar{
			@include span(12 nest);
			margin: 0px;
			font-family: 'Barrio', cursive;
			ul{
				@include span(12 nest);
				padding: 0px;
				margin: 0px;
				li{
					@include span(3);
					list-style-type: none;
					display: inline-block;
					cursor: pointer;
					padding:10px;
					text-align: center;
					border-left: 1px dashed #F5F47D;
					a{color:#F5F47D;}
				}
			}
			@include susy-breakpoint($tablet-size){
				@include span (6);
				margin-top: 55px;
				font-size: 150%;
			}
		}
		@include susy-breakpoint($tablet-size){
			@include container(960px);
			position:absolute;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	@include susy-breakpoint($tablet-size){
		background-image: url("/images/bgpattren.png");
		background-size: 20px;
		height: 200px;
	}
}
