.home{
	h3{
		color: #AAA;
		font-weight: bold;
		margin:0;
		font-size: 12px;
		letter-spacing: 1px;
		@include susy-breakpoint($tablet-size){font-size: 20px;}
	}
	.image-top{
		overflow: hidden;
		img{
			width: 200%;
			transform: translateX(-25%);
			filter:grayscale(50%);
			@include susy-breakpoint($tablet-size){
				width: 100%;
				box-sizing:border-box;
				border:20px solid white;
				transform: initial;
			}
		}
	}
	.desc{
		text-align: center;
		margin-bottom: 50px;
		padding-top: 7px;
		background-color: black;
	}
	.overview{
		background-color: #8233A2;
		padding:30px;
		margin-top: 50px;
		h3{
			font-size: 20px;
			color:$kuningarrow;
			padding-bottom:20px;
		}
	}
}