.news{
	color:$kuningarrow;
	h3,h4,p{margin-left: 10px;}
	h3{font-family: 'Barrio',cursive;}
	.news-wrapper{
		.video{
			width: 100%;
			margin:auto;
			iframe{width: 100%;}
			@include susy-breakpoint($tablet-size){width: 530px;}
		}
	}
}